@page "/home"
@using Blazor.Data
@using Model
@using System.Security.Policy
@inject NavigationManager NavigationManager


<div>
    <h1 style="text-align: center; text-decoration-color: #0c5460; font-family: 'Palatino Linotype', Palatino, serif">Shopping Recipes</h1>
</div>


@code {

    
}