@page "/home"
@using Blazor.Data

@using System.Security.Policy
@inject NavigationManager NavigationManager


<div class="container-fluid">
    <div class="jumbotron homeJumbotron">
        <div class="container">
            <h1 class="display-4">Welcome to ...!</h1>
            <hr class="my-4">
            <p class="lead">Create a new account to make your first order.</p>
          </div>
    </div>
</div>


@code {

    
}