@page "/recipeView"
@page "/recipeView/{Name:alpha}"

<div class="jumbotron">
    <div class="row">
        <div class="col-4">
            <img src="../Images/arrabiata.jpg" class="" alt="...">
        </div>
        <div class="col-8">
            <h1 class="display-4">Pasta Arrabiata</h1>
            <p class="lead">Arrabbiata sauce, or sugo all'arrabbiata in Italian, is a spicy sauce for pasta made from garlic, tomatoes, and dried red chili peppers cooked in olive oil. Arrabbiata literally means "angry" in Italian; the name of the sauce refers to the spiciness of the chili peppers.</p>
            <hr class="my-4">
            <div class="row">
                <div class="col">
                    <ul>
                        <li class="my-3">Preparation time: 10 minutes</li>
                        <li class="my-3">Cooking time: 30 minutes</li>
                        <li class="my-3">Total time: 40 minutes</li>
                        <li class="my-3">Number of servings: 6-8</li>
                    </ul>
                </div>
                <div class="col">
                    <a class="btn btn-primary btn-lg mt-5" href="#" role="button">Order necessary ingredients to your home!</a>
                </div>
            </div>


        </div>
    </div>
</div>


<div class="row">
    <div class="col">
        <div class="jumbotron instruction">
            <h2 class="mb-5">Preparation guide</h2>
            <ol>
                <li class="my-3">Sauté the crushed red pepper flakes: Heat the butter (or olive oil) in a large saucepan or deep sauté pan. Add the crushed red pepper flakes and sauté for about 2 minutes, to help toast and bring out their flavor.</li>
                <li class="my-3">Add onion and garlic: Add in the onions and sauté until softened, followed by the garlic</li>
                <li class="my-3">Add tomatoes: Then add in the cans of whole tomatoes, juices included. And as they begin to heat up, use a wooden spoon or a potato masher to carefully break up the tomatoes. (Just wear an apron so that those juices inside of the tomatoes don’t accidentally splatter you!)</li>
                <li class="my-3">Simmer: Continue heating the sauce until it comes to a simmer. Then reduce heat to medium (or medium-low) to maintain a low simmer, and let the sauce cook for about 30 minutes, or until it reaches your desired consistency.</li>
                <li class="my-3">Stir in the basil, salt and pepper. Then taste the sauce, and season with any extra salt, pepper and/or crushed red pepper flakes as needed.</li>
                <li class="my-3">Serve warm. Or let the sauce cool and then refrigerate it in a sealed container for up to 4 days.</li>
            </ol>
        </div>
    </div>

    <div class="col">
        <div class="jumbotron ingredients">
            <h2 class="mb-5">Needed ingredients</h2>
            <ul>
                <li class="my-3">3 tablespoons butter or extra virgin olive oil</li>
                <li class="my-3">2–4 teaspoons crushed red pepper flakes*, or more/less to taste</li>
                <li class="my-3">1 small yellow or red onion, finely diced</li>
                <li class="my-3">6 large cloves garlic, minced or pressed</li>
                <li class="my-3">2 (28-ounce) cans whole tomatoes, preferably San Marzano</li>
                <li class="my-3">1/2 cup packed fresh basil leaves, torn or roughly-chopped</li>
                <li class="my-3">1 teaspoon sea salt</li>
                <li class="my-3">1/2 teaspoon freshly-cracked black pepper</li>
            </ul>
        </div>
    </div>
</div>

@code {

}