@page "/register"
@using Blazor.Data
@using Model
@inject IAccountService AccountService
@inject NavigationManager NavigationManager


<h2 style="text-align: center; text-decoration-color: #0c5460; font-family: 'Palatino Linotype', Palatino, serif">Make an Account</h2>

<EditForm Model="@newAccount" OnValidSubmit="@HandleValidRegister" OnInvalidSubmit="@HandleInvalidRegister">
    <div class="bg-light p-2 m-2">
    <div class="row ">
        <DataAnnotationsValidator/>
        <ValidationSummary/>
        <div class="col-6">
            <ul class="orderPageList" data-role="listview" style="list-style-type: none">
                <li>
                    <div class="form-group">
                        Username:<br/>
                        <InputText @bind-Value="newAccount.username"/>
                    </div>
                </li>
                <li>
                    <div class="form-group">
                        Password:<br/>
                        <InputText @bind-Value="newAccount.password"/>
                    </div>
                </li>
                <li>
                    <div class="form-group">
                        Email:<br/>
                        <InputText @bind-Value="newAccount.email"/>
                    </div>
                </li>

            </ul>
        </div>
        <div class="col-6">
            <ul class="orderPageList" data-role="listview" style="list-style-type: none">

                <li>
                    <div class="form-group">
                        Street:<br/>
                        <InputText @bind-Value="newAccount.address.street"/>
                    </div>
                </li>
                <li>
                    <div class="form-group">
                        House Number:<br/>
                        <InputText @bind-Value="newAccount.address.streetNumber"/>
                    </div>
                </li>
                <li>
                    <div class="form-group">
                        City:<br/>
                        <InputText @bind-Value="newAccount.address.city"/>
                    </div>
                </li>
                <li>
                    <div class="form-group">
                        Zip Code:<br/>
                        <InputNumber @bind-Value="newAccount.address.zipCode"/>
                    </div>
                </li>
            </ul>
        </div>

    </div>
    <div class="row d-flex justify-content-center">
        <p class="actions ">
            <button class="btn btn-primary order-button" type="submit">Register</button>
        </p>
    </div>
    </div>
</EditForm>

@code {

    private string username;
    private string password;
    private string email;
    private string street;
    private string streetNumber;
    private string city;
    private int zipCode;
    private string errorMessage;
    
    private Account newAccount = new Account();
    
    public async Task HandleValidRegister()
    {
        errorMessage = "";
        try
        {
            Console.WriteLine("Trying register");
            await AccountService.Register(newAccount);
            username = "";
            password = "";
            email = "";
            NavigationManager.NavigateTo("/");
        }
        catch (Exception e)
        {
            Console.WriteLine("Register failed");
            errorMessage = e.Message;
        }
    }
    
    public async Task HandleInvalidRegister()
    {
        Console.WriteLine("Invalid");
    }
    
    protected override async Task OnInitializedAsync()
    {
    }
}