@page "/viewRecipes"
@using Model
@using Blazor.Data
@inject IRecipeService RecipeService
@inject NavigationManager NavigationManager
<h2 class="title">ViewRecipes</h2>

<div class="row">
    @foreach (var recipe in Recipes) {
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
              <img src="../Images/@recipe.imageName" class="card-img-top" alt="@recipe.name"> 
                <div class="card-body">
                    <h5 class="card-title">@recipe.name</h5>
                    <p class="card-text">@recipe.instructions</p>
                    <button class="btn btn-primary" @onclick="@(() => NavigateToComponent(recipe))">Check the recipe now!</button>
                </div>
            </div>
        </div>
    }
</div>

@code {

 
    public IList<Recipe> Recipes { get; set; }

    protected override async Task OnInitializedAsync()
    {
      Recipes = await RecipeService.GetRecipesAsync();
        Console.WriteLine(Recipes[0].name +"--> ViewRecipes.razor");
    }

    private void NavigateToComponent(Recipe p) {
      NavigationManager.NavigateTo("recipeView/" + p.Id);
    }

}