@page "/viewRecipes"
@using Model
@using Blazor.Data
@inject IRecipeService RecipeService
@inject NavigationManager NavigationManager
<h2 class="title">ViewRecipes</h2>

<div class="row">
    <div class="col-3">
        <div class="card" style="width: 18rem;">
                  <img src="../Images/arrabiata.jpg" class="card-img-top" alt="arrabiata">
                  <div class="card-body">
                    <h5 class="card-title">Arrabiata</h5>
                    <p class="card-text">Arrabbiata sauce, or sugo all'arrabbiata in Italian, is a spicy sauce for pasta made from garlic, tomatoes, and dried red chili peppers cooked in olive oil. Arrabbiata literally means "angry" in Italian; the name of the sauce refers to the spiciness of the chili peppers.</p>
                    <a href="#" class="btn btn-primary">Check the recipe now!</a>
                  </div>
                </div>
    </div>
    
    
    
    <div class="col-3">
        <div class="card" style="width: 18rem;">
          <img src="../Images/lasagne.jpg" class="card-img-top" alt="Lasagne">
          <div class="card-body">
            <h5 class="card-title">Lasagne</h5>
            <p class="card-text">Lasagne, or the singular lasagna, is an Italian dish made of stacked layers of thin flat pasta alternating with fillings such as ragù (ground meats and tomato sauce) and other vegetables, cheese , and seasonings and spices such as garlic, oregano and basil.</p>
            <a href="#" class="btn btn-primary">Check the recipe now!</a>
          </div>
        </div>
    </div>
    
    <div class="col-3">
        <div class="card" style="width: 18rem;">
                  <img src="../Images/pizza.jpeg" class="card-img-top" alt="Pizza">
                  <div class="card-body">
                    <h5 class="card-title">Pizza</h5>
                    <p class="card-text">Pizza, dish of Italian origin consisting of a flattened disk of bread dough topped with some combination of olive oil, oregano, tomato, olives, mozzarella or other cheese, and many other ingredients, baked quickly—usually, using a wood-fired oven heated to a very high temperature.</p>
                    <a href="#" class="btn btn-primary">Check the recipe now!</a>
                  </div>
                </div>
    </div>
    
    <div class="col-3">
        <div class="card" style="width: 18rem;">
                  <img src="../Images/bruschetta.jpg" class="card-img-top" alt="Bruschetta">
                  <div class="card-body">
                    <h5 class="card-title">Bruschetta</h5>
                    <p class="card-text">It is an antipasto (starter dish) from Italy consisting of grilled bread rubbed with garlic and topped with olive oil and salt. Variations may include toppings of tomato, vegetables, beans, cured meat, or cheese. Bruschetta is usually served as a snack or appetizer.</p>
                    <a href="#" class="btn btn-primary">Check the recipe now!</a>
                  </div>
                </div>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <div class="card" style="width: 18rem;">
                  <img src="../Images/lasagne.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Lasagne</h5>
                    <p class="card-text">Lasagne, or the singular lasagna, is an Italian dish made of stacked layers of thin flat pasta alternating with fillings such as ragù (ground meats and tomato sauce) and other vegetables, cheese , and seasonings and spices such as garlic, oregano and basil.</p>
                    <a href="#" class="btn btn-primary">Check the recipe now!</a>
                  </div>
                </div>
    </div>
    <div class="col-3">
        <div class="card" style="width: 18rem;">
                  <img src="../Images/lasagne.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Lasagne</h5>
                    <p class="card-text">Lasagne, or the singular lasagna, is an Italian dish made of stacked layers of thin flat pasta alternating with fillings such as ragù (ground meats and tomato sauce) and other vegetables, cheese , and seasonings and spices such as garlic, oregano and basil.</p>
                    <a href="#" class="btn btn-primary">Check the recipe now!</a>
                  </div>
                </div>
    </div>
    <div class="col-3">
        <div class="card" style="width: 18rem;">
                  <img src="../Images/lasagne.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Lasagne</h5>
                    <p class="card-text">Lasagne, or the singular lasagna, is an Italian dish made of stacked layers of thin flat pasta alternating with fillings such as ragù (ground meats and tomato sauce) and other vegetables, cheese , and seasonings and spices such as garlic, oregano and basil.</p>
                    <a href="#" class="btn btn-primary">Check the recipe now!</a>
                  </div>
                </div>
    </div>
    <div class="col-3">
        <div class="card" style="width: 18rem;">
                  <img src="../Images/lasagne.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Lasagne</h5>
                    <p class="card-text">Lasagne, or the singular lasagna, is an Italian dish made of stacked layers of thin flat pasta alternating with fillings such as ragù (ground meats and tomato sauce) and other vegetables, cheese , and seasonings and spices such as garlic, oregano and basil.</p>
                    <a href="#" class="btn btn-primary">Check the recipe now!</a>
                  </div>
                </div>
    </div>
    
</div>
@code {
  public IList<Recipe> Recipes { get; set; }
  

  protected override async Task OnInitializedAsync()
  {
    Recipes = await RecipeService.GetRecipesAsync();
    Console.WriteLine(Recipes);
    
  }

  private void NavigateToComponent(Recipe p) {
    NavigationManager.NavigateTo("order/" + p.name);
  }
}